body{
    font-family: 'Inter',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8fafc;
    color: #1e293b;
}

header{
    background: #87f203;
    color: white;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav{
    position: fixed;
    top: 10px;
    width: 100%;
    background: #87f203;
    padding: 10px 0;
    z-index: 999;

}

nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
color: white;
text-decoration: none;
font-size: 1rem;
font-weight: 600;
transition: color 0.3s;

}
.courses{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(3, 1fr);
    
    padding: 40px 20px;

}

.course{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0pxn 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out ;
}

.course:hover {
    transform: translateY(-5px);

}

.course img {
    width: 100px;
    height: auto;
    border-radius: 8px;

}

.course h3 {
    font-size: 1.2rem;
    color: #1e40af;
    margin-top: 10px;

}

.course p {
    font-size: 1rem;
    color: #475569;
}

form {
    background: white;
    padding: 30px;
    max-width: 50px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

input, select, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #e2e8f0;
    border-radius: 8px;
    outline: none;
}

button {
    background: #1e40af;
    color: ;
}


h3 {
    text-align: center;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px 5px;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #00bfff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #040404;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}
button{
    background-color: #1e40af;
    color: #f9f5f5;
    font-weight: bold;
}
button:hover{
    background-color: black;
    cursor: pointer;
}

#van{
    background-color: #2600ff;
    width: 95%;
    height: 110%;
    margin: 30px;
    border-radius: 10px;
   
}
#contact{
    text-align: center;
    background-color: chocolate;
}